<div class="mdc-card info-card info-card--primary">
  <div class="card-inner">
    <h5 class="card-title">
      <%= title %>
    </h5>
    <h5 class="font-weight-light pb-2 mb-1">
      <%= info_1 %>
    </h5>
    <h5 class="font-weight-light pb-2 mb-1">
      <%= info_2 %>
    </h5>
    <div class="card-icon-wrapper">
      <i class="material-icons">
        <%= type %>
      </i>
    </div>
  </div>
</div>